<div class="container">
<% if current_user == nil %>
	<h4> Please <a href="/sessions/new">login</a> or <a href="/users/new">sign up</h4></a>
<% else %>

<h3><strong><%=@user.username %>'s item(s):</strong></h3>
<div class="user-items-list">
<ul>
	<p><% @items.each do |item| %></p>
		<p><%= item.title %></p>
		<p class="description"><%= item.description %></p>
        <% if item.user_id == current_user.id %> 
		  <form id="<%= item.id%>" action="/items/<%= item.id%>" method="POST">	
		  <input type="hidden" name="_method" value="delete">
			<button class="btn btn-lg btn-primary btn-block" type="submit">Delete this item</button>

		  </form></li>	
		  </li>
		  <div class="<%= item.id%>">
		  <a id="edit-link" href="/items/<%= item.id %>/edit"><button class="btn btn-lg btn-primary btn-block" type="submit">Edit this item</button>
		  </a>
      </div>
		  <hr>
	    <% end %>
	  <% end %>
	  
	<div class="add-link">
		<p><a id="add-item-link" href="/items/new">Add a new item</a></p>
	</div>
</ul>
</div>

<div class="active-bids">
	<p>Your active bid(s):</p>
	<ul>
		<% @bids.each do|bid| %>
		<li><p><%= bid.item.title %>
		$<%= bid.bid_price %></p></li>
	    <% end %>
	</ul> 
</div>

<div class="winning-bids">
	<p>Item(s) you have won:</p>
	<ul>
	<% @winning_bids.each do |bid| %>
		<li><p><%= bid.item.title %>
		$<%= bid.bid_price %></p></li>
	<% end %>
	</ul>
</div>

<% end %>
</div>