<div class="container">
<p class="title"> <%= @item.title %></p>
<p> <%= @item.description %></p>
<p> Number of bids: <%= @item.bids.count %></p>
<p> Start: <%= @item.auction_start %></p>
<p> End: <%= @item.auction_end %></p>
<hr>

<% if current_user == nil %>
	<h4> To place a bid please <a href="/sessions/new">login</a> or <a href="/users/new">sign up</h4></a>
<% else %>

	<form id="bid-form" action="/bids" method="post">
	<input type="hidden", value="<%= @item.id %>", name="id">
	<input type="text" name="bid_price" placeholder="Bid Price"></input>
	<input class="button" type="submit" value="Place Bid"></input>
	</form>
	<p id="thank-you">Thank you and good luck!</p>
	
<% end %>
</div>

